/.idea
/webx-api/target
/webx-api-client/target
/webx-api-server/target
/webx-utils/target
*.iml
*.pyc

*.classpath
/idea/
.idea
/webx-api-server/src/test
/webx-api/*.classpath
/webx-api/*.project
/webx-api/.settings
/webx-api-client/.settings
/webx-api-server/.settings
/webx-api-server/*.classpath
/webx-api-server/*.project
/webx-utils/.settings
/webx-utils/*.classpath
/webx-utils/*.project

*.project
logs
